"*":
  Hydrogen: {}
  "advanced-open-file":
    createDirectories: true
    helmDirSwitch: true
  aligner:
    ":-alignment": "left"
    ":-rightSpace": false
    alignComments: true
  "atom-alignment":
    alignBy: [
      "->"
      "<-"
      "=>"
      "="
      "::"
    ]
  "autocomplete-paths": {}
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
  build:
    panelVisibility: "Hidden"
    stealFocus: false
  "copy-with-style":
    preset1:
      font_family: "Courier New"
      font_size: 12
      name: "Copy as HTML"
    preset2:
      font_family: "Courier New"
      font_size: 12
      format: "RTF"
      name: "Copy as RTF"
  core:
    closeDeletedFileTabs: true
    customFileTypes:
      "source.jade": [
        "dt"
      ]
      "source.ruby": [
        "god"
      ]
    disabledPackages: [
      "language-gfm"
      "markdown-preview"
    ]
    packagesWithKeymapsDisabled: [
      "language-yaml"
      "zentabs"
      "git-diff-details"
      "elm-format"
      "copy-with-style"
    ]
    projectHome: "/Users/yumatsuzawa/workspace"
    telemetryConsent: "limited"
    titleBar: "custom"
  editor:
    autoIndentOnPaste: false
    fontFamily: "\"MigMix 2M\""
    invisibles: {}
    preferredLineLength: 130
    scrollPastEnd: true
  "elm-format": {}
  elmjutsu:
    autocompleteFuzzyFilteringEnabled: true
    autocompleteMaxSuggestions: 5
    cacheDirectory: "/var/folders/6c/z0cqt0mj4790yk2z1n4zbnh00000gn/T/elmjutsu9341OU1ZmXa4Zykj"
    showTypesInTooltip: true
  "exception-reporting":
    userId: "d4a5935a-272c-0572-8dc3-3d49725ee940"
  "file-types":
    ".god$": "source.ruby"
  "find-and-replace":
    scrollToResultOnLiveSearch: true
  "git-diff-details":
    enableSyntaxHighlighting: true
  "highlight-column":
    lineMode: true
  "incremental-search":
    cancelSearchOnBlur: true
    instantSearch: true
  "language-elm":
    autocompleteEnabled: false
  linter:
    lintOnChange: false
    lintOnChangeInterval: 1
    lintOnOpen: false
    lintPreviewTabs: false
  "linter-elm-analyse": {}
  "linter-elm-make":
    logDebugMessages: true
    showCodeActions: false
    showInferredTypeAnnotations: true
  "linter-eslint": {}
  "linter-shellcheck":
    enableNotice: true
  "linter-ui-default":
    panelRepresents: "Entire Project"
    showProviderName: true
  "markdown-preview":
    useGitHubStyle: true
  "markdown-preview-plus":
    enableLatexRenderingByDefault: true
    useGitHubStyle: true
  minimap:
    displayCodeHighlights: false
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
  "one-dark-ui": {}
  "plantuml-viewer":
    openInSplitPane: false
  "project-manager":
    ignoreDirectories: "node_modules, vendor, deps"
    includeGitRepositories: true
    sortBy: "last modified"
  "spell-check":
    addKnownWords: true
    grammars: [
      "text.md"
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
    ]
    knownWords: [
      "hipchat_elixir"
      "camelize"
      "hipchat_swagger"
      "Codegen"
      "ymtszw"
      "formdata"
      "solomon.tar.gz"
      "solomon"
      "jenkins"
      "Kibana"
      "hiden"
      "elm-analyse"
      "Blick"
      "Heroku"
    ]
    locales: [
      "en-US"
      "ja-JP"
    ]
  "symbols-tree-view":
    autoToggle: true
    defaultWidth: 160
    zAutoHideTypes: "variable"
  tabs:
    enableMruTabSwitching: false
    enableVcsColoring: true
  "trailing-spaces":
    enableForCursorLines: true
  "tree-view":
    alwaysOpenExisting: true
    autoReveal: true
    focusOnReveal: false
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  zentabs:
    maximumOpenedTabs: 10
    neverCloseNew: true
    neverCloseUnsaved: true
".elixir.html.text":
  editor:
    preferredLineLength: 130
".elixir.source":
  editor:
    preferredLineLength: 130
".elixir.text":
  editor:
    preferredLineLength: 130
".elm.elmx.source":
  editor:
    tabLength: 4
".elm.source":
  editor:
    autoIndentOnPaste: false
    tabLength: 4
".md.text":
  "bracket-matcher":
    autocompleteCharacters: [
      "()"
      "[]"
      "{}"
      "\"\""
      "''"
      "``"
      "“”"
      "‘’"
      "«»"
      "‹›"
      "$$"
    ]
  editor:
    preferredLineLength: 130
    softWrap: false
    tabLength: 4
